<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<th:block th:replace="/fragments/header.html :: headerFragment('수집 데이터')"></th:block>

<body>
    <!-- Nav -->
    <th:block th:replace="/fragments/nav.html :: navFragment('수집 데이터')"></th:block>

    <div class="container">
        <hr style="margin: 75px 0px">
        <h4> 수집 현황</h4>
        <!-- 일별 수집현황 건수 -->
        <div class="list_count, table-responsive">
            <table class="table table-hover">
                <tr>
                    <th style="background:#337ab7; color: white; width: 10%; text-align: center;">질문 등록일</th>
                    <th style="width: 5%; word-break: break-all;" th:each="day : ${dayList}" th:text="${#calendars.format(day.date,'M/d(E)')}"></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="background:#337ab7; color: white; width: 10%; text-align: center;">질문 건수</td>
                    <td th:each="day : ${dayList}" th:text="${day.count}"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <br>
        <h4>데이터 검색</h4>
        <hr style="margin-top: 10px">

        <!--조회 form -->
        <form class="form-inline" action="/getBoardList.do" method="get" id="frm" name="frm">
            <div class="form-group">
                <label for="start_date">조회시작일</label>
                <input type="date" class="form-control" id="start_date" name="start_date" min="2020-01-01" max="2021-08-31"
                       th:value="${search.start_date != null} ? ${search.start_date}:'2020-01-01'">
            </div>
            <div class="form-group">
                <label for="end_date">조회종료일</label>
                <input type="date" class="form-control" id="end_date" name="end_date" min="2020-01-01" max="2021-08-31"
                       th:value="${search.end_date != null} ? ${search.end_date}:'2020-01-15'">
            </div>
            <div class="form-group">
                <label for="search_item">조회조건</label>
                <select class="form-control" name="searchCondition" id="search_item">
                    <option value="TITLE" th:selected="${search.searchCondition}=='TITLE'" selected>질문제목</option>
                    <option value="KEYWORD" th:selected="${search.searchCondition}=='KEYWORD'">키워드</option>
                    <option value="CONTENT" th:selected="${search.searchCondition}=='CONTENT'">내용</option>
                </select>
                <input type="text" class="form-control" name="searchKeyword" th:value="${search.searchKeyword}">
            </div>
            <button type="submit" class="btn btn-primary" onclick="return DateCheck();">검색</button>
        </form>

        <!--총 건수 -->
        <br>
        <div th:text="'총 '+ ${pageMaker.getTotalCount()}+'건 ('+${pageMaker.getPpomppuVO().getPage()}+' page / '+ ${pageMaker.finishPage} +' page)'"></div>

        <div class="list_count">
            <table class="table table-hover">
                <thead>
                <tr style="background:#337ab7; color: white;">
                    <th style="width: 10%; text-align: center;">No</th>
                    <th style="width: 50%; text-align: center;">질문 제목</th>
                    <th style="width: 30%; text-align: center;">키워드</th>
                    <th style="width: 20%; text-align: center;">등록일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}" style="text-align: center;">
                    <td th:text="${board.number}"></td>
                    <td>
                        <a data-toggle="modal" th:href="@{'#detailView'+${board.number}}" th:text="${board.l_title}"></a>
                    </td>
                    <td th:text="${board.category}"></td>
                    <td th:text="${#dates.format(board.date,'yyyy-MM-DD')}">
                        <td>
                            <!-- 세부내용 Modal -->
                            <div class="modal fade" th:id="'detailView'+${board.number}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">질문 세부내용</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <table class="schedule_table">
                                                    <tr>
                                                        <th id="s_table_title" style="width:100px; background:#337ab7; color: white; text-align: center;">질문 제목</th>
                                                        <th id="s_table_title" style="width:500px; background:#337ab7; color: white; text-align: center;" th:text="${board.l_title}"></th>
                                                    </tr>
                                                    <tr>
                                                        <td id="s_table_memo1" style="background:#337ab7; color: white;">질문 내용</td>
                                                        <td id="s_table_memo2" th:text="${board.maincontent}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 세부내용 Modal 끝 -->
                        </td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--페이징 처리-->
        <nav class="text-center">
            <ul class="pagination pagination">
                <!-- 처음으로 이동 -->
                <li class="page-item" th:classappend="${pageMaker.ppomppuVO.page == 1} ? 'disabled'">
                    <a class="page-link" th:classappend="${pageMaker.ppomppuVO.page == 1} ? 'not-active'"
                       th:href="@{/getBoardList.do(page=1,start_date=${search.start_date},end_date=${search.end_date},
                                    searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}"
                       aria-label="Previous">
                        <!--                    th:onclick="'javascript:getSearchList(1);'">-->
                        <span aria-hidden="true">처음</span></a>
                    </a>
                </li>
                <!-- 이전(-10page)으로 이동 -->
                <li class="page-item" th:classappend="${pageMaker.ppomppuVO.page == 1} ? 'disabled'">
                    <a class="page-link"
                       th:classappend="${pageMaker.ppomppuVO.page == 1} ? 'not-active'"
                       th:href="@{/getBoardList.do(page=${pageMaker.startPage-10 > 0 ? pageMaker.startPage-1:1} ,
                                    start_date=${search.start_date},end_date=${search.end_date},
                                    searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}"
                       aria-label="Previous">
                        <span aria-hidden="true">이전</span></a>
                </li>
                <!-- 페이지 넘버 -->
                <th:block th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
                    <li class="page-item" th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}"
                        th:class="${pageMaker.getPpomppuVO().getPage()} == ${pageButton} ? 'active'">
                        <a class="page-link"
                           th:href="@{/getBoardList.do(page=${pageButton},start_date=${search.start_date},
                                        end_date=${search.end_date},searchCondition=${search.searchCondition},
                                        searchKeyword=${search.searchKeyword})}"
                           th:text="${pageButton}"><span class="sr-only">(current)</span></a>
                    </li>
                </th:block>
                <!-- 다음(+10page)으로 이동 -->
                <!--                <li class="page-item" th:classappend="${pageMaker.next == 'false'} ? 'disabled':'enabled'">-->
                <li class="page-item" th:classappend="${pageMaker.endPage} == ${pageMaker.finishPage} ? 'disabled'">
                    <a class="page-link" th:classappend="${pageMaker.finishPage} == ${pageMaker.endPage} ? 'not-active'"
                       th:href="${pageMaker.next} ? @{/getBoardList.do(page=${pageMaker.endPage}+1,
                                    start_date=${search.start_date},end_date=${search.end_date},
                                    searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})} : '#'"
                       aria-label="Next"><span aria-hidden="true">다음</span></a>
                </li>
                <!-- 종료 페이지 -->
                <li th:class="${pageMaker.getPpomppuVO().getPage()} == ${pageMaker.getFinishPage()} ? 'disabled'">
                    <a class="page-link" th:classappend="${pageMaker.finishPage == pageMaker.ppomppuVO.page} ? 'not-active'"
                       th:href="@{/getBoardList.do(page=${pageMaker.getFinishPage()},start_date=${search.start_date},
                           end_date=${search.end_date},searchCondition=${search.searchCondition},searchKeyword=${search.searchKeyword})}"
                       aria-label="last"><span aria-hidden="true">끝</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>

<!-- Footer -->
<th:block th:replace="/fragments/footer.html :: footerFragment"></th:block>

</html>