/*
 * KoPub DotumLight (Korean)
 */
@font-face {
  font-family: 'KoPub DotumLight';
  font-style: normal;
  font-weight: 300;
  src: url(/font/KoPubDotumLight.ttf);
  src: url(/font/KoPubDotumLight.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub DotumLight';
  font-style: normal;
  font-weight: 400;
  src: url(/font/KoPubDotumLight.ttf);
  src: url(/font/KoPubDotumLight.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub DotumLight';
  font-style: normal;
  font-weight: 700;
  src: url(/font/KoPubDotumLight.ttf);
  src: url(/font/KoPubDotumLight.ttf) format('truetype');
}